*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root{
    --navbar-color: deepskyblue;
    --black: #000;
    --white: #fff;
    --radialBGColor: radial-gradient(#C4F4F2,#69EBFC);
    --blueColor: #50A7D9;
    --greyColor:#555;
}
/* :root */
.dark-mode
{ 
    --navbar-color: #0099cc;
    --black: #fff;
    --white: #252829;
    --radialBGColor: radial-gradient(#0f4e4c, #037c8c);
    --blueColor: #50A7D9;
    --greyColor:rgb(216, 216, 216);
}
body{
	font-family: 'Poppins', sans-serif;
    /* -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    background:var(--white);
}
.header{
    /* background-color: chocolate; */
    width: 100%;
}
.center-nav{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.navbar{
    position: fixed;
    z-index: 10;
    width: 90%;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4);
	height: 80px;
    border-radius: 0px 0px 10px 10px;
}
.logo{
    /* background-color: chartreuse; */
    overflow: hidden;
}
/* img:not(.logo img, nav img,.col-2 img){
    width: 100px;
} */
nav div{
    display: inline;
}
nav ul{
	display: inline;
	list-style-type: none;
	transition:  0.4s ease;
}
nav ul li{
	display: inline;
	margin-left: 20px;
}
.navbar li a{
    font-weight: 600;
}
a{
	text-decoration: none;
	color: #000;
	transition: 0.3s ease;
}
.cart-place{
	margin-left: 20px;
}
.theme-icon{
	margin-left: 10px;
}
.hamburger-icon{
    display: none;
}
/* .menu-icon, .cart-icon img{
    transform: translateY(4px);
} */
.fa-bars, .fa-cart-shopping{
    transition: 0.4s ease;
    padding: 10px 10px;
    border-radius: 50px;
    /* background-color: darkolivegreen; */
}
.fa-bars:hover{
    background-color: #fa4753;
    color: var(--white);
}
.fa-cart-shopping:hover{
    color: #fa4753;
}
.num-item{
    position: absolute;
    font-size: 12px;
    font-style: normal;
    margin-left: -9px;
    transform: translateY(-4px);
    background-color: #fa4753;
    color: #fff;
    padding: 2px 4px;
    border-radius: 100px;
}
.active{
    color: #fa4753;
    border-bottom: 2px solid #fa4753;
}
.navbar a:hover{
    color: #fa4753;
}
/* ----- Navbar Ends ----------------- */
/* ---main section starts--------------- */
.container{
    /* background: green; */
    width: 100%;
    /* height: 100vh; */
    padding: 130px 5%;
    display: flex;
    justify-content: center;
    color:var(--black);
}
.single-product{
    /* background: burlywood; */
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-part{
    /* background: yellow; */
    width: 50%;
}
.s-product-img{
    width: 100%;
    border-radius: 5px;
}
.img-row{
    display: flex;
    flex-direction: row;
}
.small-img{
    width: 100%;
}
.s-small-img{
    border-radius: 5px;
    opacity: 0.8;
    margin-left: 5px;
    margin-top: 5px;
    transition: 0.3s ease;
    width: 95px;
}
.s-small-img:hover{
    opacity: 1;
    cursor: pointer;
}
.s-small-img:nth-child(1){
    margin-left: 0;
}
.text-part{
    width: 50%;
    padding-left: 50px;
    /* background: lightblue; */
}
.text-part h1{
    font-size: 45px;
    line-height: 60px;
	margin: 25px 0;
}
.addressbar{
    color: var(--greyColor);
}
.s-p-price{
    font-size: 23px;
    font-weight: 600;
}
.fa-indian-rupee-sign{
    font-size: 19px;
}
select{
    padding: 8px 20px;
    border: 1px solid hwb(220 89% 8%);
    border-radius: 3px;
    font-size: 14px;
    margin-top: 10px;
    width: 140px;
}
select:hover{
    cursor: pointer;
}
.quantity-label{
    display: block;
    margin-top: 10px;
    font-weight: 600;
}
.quantity-part input{
    padding: 8px 20px;
    width: 70px;
    border: 1px solid hwb(220 89% 8%);
    border-radius: 3px;
}
.btn1{
    display: inline-block;
	background: #50A7D9;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition:  0.5s;
    font-weight: 500;
}
.btn1:hover{
	background: #fa4753;
    color: #fff;
    cursor: pointer;
}
/* ---main section ends--------------- */
/* ----------footer section starts--------------- */
.footer{
    /* background: grey; */
    width: 100%;
    display: flex;
    justify-content: center;
    background:  var(--white);
}
footer{
    background: var(--navbar-color);
    width: 90%;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0px 0px;
}
.footer-up{
    /* background: green; */
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 10px 0px;
}
.partition{
    display: flex;
    justify-content: space-around;
    /* outline: 1px solid #000; */
    width: 100%;
}
.col-logo{
    /* background: pink; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.col-logo img{
    width: 200px;
    /* background: brown; */
    /* overflow: hidden; */
    height: 80px;
}
.col-logo span{
    /* margin-top: 15px; */
}
.quick-links{
    /* background: lightgreen; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.support{
    /* background: orange; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.developers{
    /* background: rgb(107, 82, 0); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.quick-links span,
.support span,
.developers span{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
}
.quick-links a,
.support a,
.developers a{
    margin-bottom: 15px;
    font-size: 16px;
    color: #000;
}
.quick-links a:hover,
.support a:hover
{
    color: #fa4753;
    cursor: pointer;
}
.footer-down{
    /* background: yellow; */
    text-align: center;
    padding: 8px;
}

/* ----------footer section ends--------------- */
/* ----meadia queries-------- */
@media(max-width: 910px) {
    .footer-up{
        flex-direction: column; 
    }
    .partition:nth-child(2){
        margin-top: 20px;
    }
    .developers{
        transform: translateX(-8px);
    }
}
@media(max-width: 860px) {
    .navbar{
        padding: 20px 45px;
    }
}
@media(max-width: 800px) {
    .navbar{
        padding: 20px 30px;
    }
}
@media(max-width: 730px) {
    nav div{
        position: absolute;
        top: 110px;
        right: -200%;
        transition: 0.5s ease-in-out;
        /* display: none; */
        background-color: #fff;
        padding: 10px 0px ;
        border-radius: 4px;
    }
    nav ul{
        list-style-type: none;
        transition:  0.4s ease;
    }
    nav ul li{
        margin: 0;
    }
    nav ul li a{
        display: block;
        padding: 8px 35px;
        margin: 0;
    }
    .active {
        color: #fa4753;
        border: none;
    }
    nav ul li:hover{
        background: grey;
        color: #fff;
    }
    .cart-place{
        display: inline;
        margin-left: 5px;
    }
    .hamburger-icon{
        display: inline;
        margin-left: 5px;
    }
}
@media(max-width: 536px) {
    .logo img{
        width: 150px;
    }
}
@media(max-width: 449px) {
    .partition{
        flex-direction: column;
        margin-top: 0px;
    }
    .partition:nth-child(2){
        margin-top: 0px;
    }
    .developers{
        transform: translateX(0px);
    }
    .col-logo, .quick-links ,
    .support, .developers{
        align-items: center;
        margin-top: 20px;
    }
}
@media(max-width: 1130px){
    .single-product{
        width: 80%;
    }
}
@media(max-width: 805px){
    .img-part{
        width: 55%;
    }
    .text-part{
        width: 45%;
        margin-top: 20px;
    }
}
@media(max-width: 750px){
    .single-product{
        width: 95%;
    }
}
@media(max-width: 630px){
    .single-product{
        flex-direction: column;
    }
    .img-part{
        width: 55%;
    }
    .text-part{
        width: 55%;
        padding-left: 0px;
    }
}
@media(max-width: 520px){
    .img-part{
        width: 80%;
    }
    .text-part{
        width: 80%;
    }
}
.navbar-active{
    /* display: block; */
    right: 0;
}
.none{
    display: none;
}